################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
/PepinoHealth.App/PepinoHealth.DL/obj
/PepinoHealth.App/PepinoHealth.App/bin
/PepinoHealth.App/PepinoHealth.App/obj
/PepinoHealth.App/PepinoHealth.Auth/bin
/PepinoHealth.App/PepinoHealth.Auth/obj
/PepinoHealth.App/PepinoHealth.BL/bin
/PepinoHealth.App/PepinoHealth.BL/obj
/PepinoHealth.App/PepinoHealth.CL/bin
/PepinoHealth.App/PepinoHealth.CL/obj
/PepinoHealth.App/PepinoHealth.DL/bin
/PepinoHealth.App/PepinoHealth.DL/obj