@using PepinoHealth.App.Helpers

@{
    ViewBag.Title = "Dashboard";
}

@Html.WriteScriptInclude(Source.chart)

@Html.WriteScriptInclude(Source.view_user_register)

<script type="text/javascript">
    $(document).ready(function () {
        bindControlsOnLoadInDashboard();
    });
</script>

<div class="p-block v2">
    <div class="p-header">
        <div class="title">
            Dashboard
        </div>
    </div>
    <div class="p-body">
        <div class="p-body-content">
            <div id="dashboard-section">
                <div class="row">
                    <div class="col-sm-12">
                        <canvas id="cnsGraph" height="200"></canvas>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-stats card-raised">
                            <div class="card-body custom-card-body">
                                <div class="row">
                                    <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <div class="statistics">
                                            <div class="info dashboard-action">
                                                <div class="icon icon-event"><i class="material-icons">event_available</i></div>
                                                <h3 class="info-title"><span id="active-appointment">5</span></h3>
                                                <h6 class="stats-title">Appointments (Today)</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <div class="statistics">
                                            <div class="info dashboard-action">
                                                <div class="icon icon-event"><i class="material-icons">event_available</i></div>
                                                <h3 class="info-title"><small></small><span id="week-appointment">10</span></h3>
                                                <h6 class="stats-title">Appointments (Week)</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <div class="statistics">
                                            <div class="info dashboard-action">
                                                <div class="icon icon-event"><i class="material-icons">event_available</i></div>
                                                <h3 class="info-title"><span id="month-appointment">35</span></h3>
                                                <h6 class="stats-title">Appointments (Month)</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                                        <div class="statistics">
                                            <div class="info">
                                                <div class="icon icon-user"><i class="material-icons">perm_identity</i></div>
                                                <h3 class="info-title"><span id="active-user">10</span></h3>
                                                <h6 class="stats-title">Patients</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
