
@{
    ViewBag.Title = "Registration";
}

<script type="text/javascript">
    $(document).ready(function () {
        hideModal('loader');

        $('#tbl-ad').DataTable({
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            responsive: true,
            "order": [[0, "asc"]]
        });

        applyDateTimePicker(
            'txtFromDate',
            calendarFormatType.DateTime,
            function (e) {
            }
        );

        applyDateTimePicker(
            'txtToDate',
            calendarFormatType.DateTime,
            function (e) {
            }
        );

        showModal('mdl-id-details');
    })
</script>

<div class="p-block v2">
    <div class="p-header">
        <div class="title">
            Registration
        </div>
    </div>
    <div class="p-body">
        <div class="p-body-content">
            <form id="formRegistration" class="v2">
                <section>
                    <div class="header">
                        <div class="title">
                            Appointment Details:
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Appointment ID</label>
                                    <select class="form-control" id="ddlAppointmentID" name="ddlAppointmentID">
                                        <option>123456</option>
                                        <option>789123</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>OP No</label>
                                    <input type="text" class="form-control"
                                           placeholder="OP No" id="txtOPNo" name="txtOPNo" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Next UHID</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               id="txtNextUHID" name="txtNextUHID"
                                               disabled>
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">content_copy</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Prepared By</label>
                                    <div class="form-label">Admin</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>UHID</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               id="txtUHID" name="txtUHID"
                                               disabled>
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Department Name <span class="required">*</span></label>
                                    <select class="form-control" id="ddlDepartmentName" name="ddlDepartmentName">
                                        <option>Gynaecology</option>
                                        <option>Rheumatology</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Token</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control mr-2" />
                                        <select class="form-control" id="ddlToken" name="ddlToken"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Date Time</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtDateTime" name="txtDateTime" />
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">date_range</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr />

                <section>
                    <div class="header">
                        <div class="title">
                            Patient Details:
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Name <span class="required">*</span></label>

                                    <div class="input-group">
                                        <select class="form-control form-title" id="ddlTitle" name="ddlTitle">
                                            <option>Mr.</option>
                                        </select>
                                        <input type="text" class="form-control" id="txtName" name="txtName" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Gender <span class="required">*</span></label>
                                            <select class="form-control" id="ddlGender" name="ddlGender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Age <span class="required">*</span></label>
                                            <input type="text" class="form-control" id="txtAge" name="txtAge" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Father Name</label>
                                    <input type="text" class="form-control" id="txtFatherName" name="txtFatherName" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Husband Name</label>
                                    <input type="text" class="form-control" id="txtHusbandName" name="txtHusbandName" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Marital Status <span class="required">*</span></label>
                                    <select class="form-control" id="txtMaritalStatus" name="txtMaritalStatus">
                                        <option>Single</option>
                                        <option>Married</option>
                                        <option>Single Parent</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea class="form-control" id="taAddress" name="taAddress" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="text" class="form-control" id="txtPhone" name="txtPhone" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Aadhaar ID</label>
                                    <input type="text" class="form-control" id="txtAadhaarID" name="txtAadhaarID" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Thayi Card Number</label>
                                    <input type="text" class="form-control" id="txtThayiCardNumber" name="txtThayiCardNumber" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>LMP</label>
                                            <input type="text" class="form-control" id="txtLMP" name="txtLMP" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>EDD</label>
                                            <input type="text" class="form-control" id="txtEDD" name="txtEDD" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Patient Type</label>
                                    <select type="text" class="form-control" id="txtPatientType" name="txtPatientType">
                                        <option>Hospital Patient</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select type="text" class="form-control" id="ddlCategory" name="ddlCategory">
                                        <option>Regular</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Consultant Doctor</label>
                                    <select type="text" class="form-control" id="ddlConsultantDoctor" name="ddlConsultantDoctor">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Reference Doctor</label>
                                    <select type="text" class="form-control" id="ddlReferenceDoctor" name="ddlReferenceDoctor">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col">
                                            <label>Charge</label>
                                            <input type="text" class="form-control" id="txtAmont" name="txtAmont" />
                                        </div>
                                        <div class="col">
                                            <label>Pay Mode</label>
                                            <select type="text" class="form-control" id="ddlPaymentMode" name="ddlPaymentMode">
                                                <option>Cash</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Pay Reference Number</label>
                                    <input type="text" class="form-control" id="txtPayReferenceNumber" name="txtPayReferenceNumber  " />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="button-block">
                                <button type="button" class="btn btn-success btn-sm">
                                    Save
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm">
                                    Refresh [New]
                                </button>
                                <button type="button" class="btn btn-primary btn-sm">
                                    Print
                                </button>
                                <button type="button" class="btn btn-success btn-sm">
                                    Save & Print
                                </button>
                                <button type="button" class="btn btn-warning btn-sm">
                                    Modify
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>

@* Our Patient Details Popup *@
<div class="modal" id="mdl-id-details">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Out Patient Details</h5>
                <div class="btn-close">
                    <i class="material-icons">close</i>
                </div>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            <label>From Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtFromDate" name="txtFromDate" />
                                <button class="btn btn-info btn-sm btn-search-icon" type="button" onclick="hideModal(" mdl-id-details\");>
                                    <i class="material-icons">date_range</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <div class="form-group">
                            <label>To Date</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtToDate" name="txtToDate" />
                                <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                    <i class="material-icons">date_range</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-2">
                        <div class="form-group mb-0">
                            <button class="btn btn-info btn-sm ar-btn-view">Load</button>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col">
                        <table class="table table-striped table-hover table-rounded dataTable" id="tbl-ad">
                            <thead>
                                <tr>
                                    <th>
                                        UHID
                                    </th>
                                    <th>
                                        Patient Name
                                    </th>
                                    <th>
                                        Department Name
                                    </th>
                                    <th>
                                        Gender
                                    </th>
                                    <th>
                                        Age
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                </tr>
                                <tr>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                </tr>
                                <tr>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                </tr>
                                <tr>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                </tr>
                                <tr>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                    <td>Lorem Ipsum</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <hr />

                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label>UHID</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="txtUHID" name="txtUHID" />
                                <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                    <i class="material-icons">search</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>