
@{
    ViewBag.Title = "Debit Details";
}

<script type="text/javascript">
    $(document).ready(function () {
        hideModal('loader');
    })
</script>

<div class="p-block v2">
    <div class="p-header">
        <div class="title">
            Debit Details
        </div>
    </div>
    <div class="p-body">
        <div class="p-body-content">
            <form id="formDebitDetails">
                <section>
                    <div class="header">
                        <div class="title">
                            Voucher Details:
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Voucher Number</label>
                                            <input type="text" class="form-control"
                                                   id="txtVoucherNumber" name="txtVoucherNumber"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Date</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" id="txtDate" name="txtDate" />
                                                <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                                    <i class="material-icons">date_range</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Amount</label>
                                            <input type="text" class="form-control form-currency" id="txtAmount" name="txtAmount" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Receiver Name</label>
                                            <input type="text" class="form-control" id="txtReceiverName" name="txtReceiverName" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Contact Number</label>
                                            <input type="text" class="form-control" id="txtContactNumber" name="txtContactNumber" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Pay Mode</label>
                                            <div class="row">
                                                <div class="col">
                                                    <select type="text" class="form-control" id="ddlPaymentMode" name="ddlPaymentMode">
                                                        <option>Cash</option>
                                                    </select>
                                                </div>
                                                <div class="col">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Purpose</label>
                                            <textarea class="form-control ta-2" id="taPurpose" name="taPurpose" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="button-block">
                                            <button type="button" class="btn btn-success btn-sm">
                                                Save
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm">
                                                Print
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm">
                                                Delete
                                            </button>
                                            <button type="button" class="btn btn-primary btn-sm">
                                                Update
                                            </button>
                                            <button type="button" class="btn btn-secondary btn-sm">
                                                Refresh
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="voucher-seperetor">
                                    <table class="t-voucher">
                                        <thead>
                                            <tr>
                                                <th>Voucher</th>
                                                <th>Date</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Voucher 1</td>
                                                <td>01/01/2022</td>
                                                <td>50.00</td>
                                            </tr>
                                            <tr>
                                                <td>Voucher 2</td>
                                                <td>01/02/2022</td>
                                                <td>60.00</td>
                                            </tr>
                                            <tr>
                                                <td>Voucher 3</td>
                                                <td>01/03/2022</td>
                                                <td>70.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>


