
@{
    ViewBag.Title = "Discharge Summary";
}

<script type="text/javascript">
    $(document).ready(function () {
        hideModal('loader');
    });
</script>

<div class="p-block v2">
    <div class="p-header">
        <div class="title">
            Discharge Summary
        </div>
    </div>
    <div class="p-body">
        <div class="p-body-content">
            <form id="formDischargeSummary">
                <section>
                    <div class="header">
                        <div class="title">
                            Patient Details:
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>SL No</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               id="txtSLNo" name="txtSLNo">
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>SL Year</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" />
                                        <input type="text" class="form-control" id="txtSLYear" name="txtSLYear" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label></label>
                                    <div class="input-group">
                                        <select class="form-control"></select>
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>IP No</label>
                                    <select class="form-control" id="ddlIPNo" name="ddlIPNo"></select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Patient Name</label>
                                    <input type="text" class="form-control" id="txtPatientName" name="txtPatientName" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Gender <span class="required">*</span></label>
                                            <select class="form-control" id="ddlGender" name="ddlGender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Age <span class="required">*</span></label>
                                            <input type="text" class="form-control" id="txtAge" name="txtAge" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group mb-1">
                                    <label>Doctor Name</label>
                                    <select type="text" class="form-control" id="ddlDoctorName" name="ddlDoctorName">
                                    </select>
                                </div>
                                <small class="form-text text-muted">
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="chkWithHeader" name="chkWithHeader">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">With Header</span>
                                    </label>
                                </small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Disch Date Time</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtDischDateTime" name="txtDischDateTime" />
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">date_range</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Date Of Admission</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtDateOfAdmission" name="txtDateOfAdmission" />
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">date_range</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Status on Discharge</label>
                                    <select class="form-control" id="txtStatusOnDischarge" name="txtStatusOnDischarge"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr />

                <div class="p-card">
                    <div class="p-card-header">
                        <ul class="nav nav-tabs list tab-menu">
                            <li><a id="summary1-tab" href="#summary1" data-toggle="tab" aria-controls="summary1" aria-selected="true" class="active">Summary 1</a></li>
                            <li><a id="summary2-tab" href="#summary2" data-toggle="tab" aria-controls="summary2" aria-selected="false">Summary 2</a></li>
                        </ul>
                    </div>
                    <div class="p-card-body">
                        <div class="tab-content">
                            <div class="tab-pane show active" role="tabpanel" id="summary1" aria-labelledby="summary1-tab">
                                <div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Final Diagnosis</label>
                                                <textarea class="form-control ta-2" id="taFinalDiagnosis1" name="taFinalDiagnosis1" rows="1"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Chief Complaints</label>
                                                <textarea class="form-control ta-2" id="taChiefComplaints1" name="taChiefComplaints1" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Investigations</label>
                                                <textarea class="form-control ta-2" id="taInvestigations1" name="taInvestigations1" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Treatment Given</label>
                                                <textarea class="form-control ta-2" id="taTreatmentGiven1" name="taTreatmentGiven1" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="summary2" aria-labelledby="summary2-tab">
                                <div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Final Diagnosis</label>
                                                <textarea class="form-control ta-2" id="taFinalDiagnosis2" name="taFinalDiagnosis2" rows="1"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Chief Complaints</label>
                                                <textarea class="form-control ta-2" id="taChiefComplaints2" name="taChiefComplaints2" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Investigations</label>
                                                <textarea class="form-control ta-2" id="taInvestigations2" name="taInvestigations2" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Treatment Given</label>
                                                <textarea class="form-control ta-2" id="taTreatmentGiven2" name="taTreatmentGiven2" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="button-block">
                            <button type="button" class="btn btn-default btn-sm">
                                New
                            </button>
                            <button type="button" class="btn btn-success btn-sm">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm">
                                Refresh [New]
                            </button>
                            <button type="button" class="btn btn-primary btn-sm">
                                Print
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                Close
                            </button>
                            <button type="button" class="btn btn-warning btn-sm">
                                Modify
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>