@{
    ViewBag.Title = "IPDRegistration";
}

<script type="text/javascript">

</script>

<div class="p-block v2">
    <div class="p-header">
        <div class="title">
            IPDRegistration
        </div>
    </div>
    <div class="p-body">
        <div class="p-body-content">
            <form id="formPage1">
                <section>
                    <div class="header">
                        <div class="title">
                            Details:
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>UHID <span class="required">*</span></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               id="txtUHID" name="txtUHID">
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Pateint Name</label>
                                    <input type="text" class="form-control" id="txtPateintName" name="txtPateintName" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Gender</label>
                                            <select class="form-control" id="ddlGender" name="ddlGender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Age</label>
                                            <input type="text" class="form-control" id="txtAge" name="txtAge" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>OP No</label>
                                    <input type="text" class="form-control"
                                           placeholder="OP No" id="txtOPNo" name="txtOPNo" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Department Name </label>
                                    <select class="form-control" id="ddlDepartmentName" name="ddlDepartmentName">
                                        <option>Gynaecology</option>
                                        <option>Rheumatology</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Visit Type</label>
                                    <select class="form-control" id="ddlVisitType" name="ddlVisitType">
                                        <option>1st Visit</option>
                                        <option>2st Visit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Consultant Doctor</label>
                                    <select type="text" class="form-control" id="ddlConsultantDoctor" name="ddlConsultantDoctor">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Date Time</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtDateTime" name="txtDateTime" />
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">date_range</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Chief Complaints</label>
                                    <textarea class="form-control ta-2" id="taChiefComplaints" name="taChiefComplaints" rows="1"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>On Examination</label>
                                    <textarea class="form-control ta-2" id="taOnExamination" name="taOnExamination" rows="1"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Diagnosis</label>
                                    <textarea class="form-control ta-2" id="taDiagnosis" name="taDiagnosis" rows="1"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Investigation</label>

                                    <div class="row">
                                        <div class="col">
                                            <select type="text" class="form-control" id="ddlInvestigation" name="ddlInvestigation">
                                                <option>2D ECHO</option>
                                            </select>
                                        </div>
                                        <div class="col">
                                            <textarea class="form-control ta-2" rows="1"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Treatment Given</label>
                                    <textarea class="form-control ta-2" id="taTreatmentGiven" name="taTreatmentGiven" rows="1"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="button-block">
                                <button type="button" class="btn btn-success btn-sm">
                                    Save
                                </button>
                                <button type="button" class="btn btn-warning btn-sm">
                                    Modify
                                </button>
                                <button type="button" class="btn btn-secondary btn-sm">
                                    Refresh [New]
                                </button>
                                <button type="button" class="btn btn-primary btn-sm">
                                    Print
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    Bill Delete
                                </button>
                                <button type="button" class="btn btn-danger btn-sm">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>

