
@{
    ViewBag.Title = "Obstetric Discharge Summary";
}

<script type="text/javascript">
    $(document).ready(function () {
        hideModal('loader');
    });
</script>

<div class="p-block v2">
    <div class="p-header">
        <div class="title">
            Obstetric Discharge Summary
        </div>
    </div>
    <div class="p-body">
        <div class="p-body-content">
            <form id="formDischargeSummary">
                <section>
                    <div class="header">
                        <div class="title">
                            Patient Details:
                        </div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>SL No</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"
                                               id="txtSLNo" name="txtSLNo">
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">search</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>IP No</label>
                                    <select class="form-control" id="ddlIPNo" name="ddlIPNo"></select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Patient Name</label>
                                    <input type="text" class="form-control" id="txtPatientName" name="txtPatientName" />
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Gender <span class="required">*</span></label>
                                            <select class="form-control" id="ddlGender" name="ddlGender">
                                                <option>Male</option>
                                                <option>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label>Age <span class="required">*</span></label>
                                            <input type="text" class="form-control" id="txtAge" name="txtAge" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group mb-1">
                                    <label>Consultants</label>
                                    <input type="text" class="form-control" id="txtConsultants" name="txtConsultants" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Disch Date Time</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtDischDateTime" name="txtDischDateTime" />
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">date_range</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Date Of Admission</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtDateOfAdmission" name="txtDateOfAdmission" />
                                        <button class="btn btn-info btn-sm btn-search-icon" type="button">
                                            <i class="material-icons">date_range</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group">
                                    <label>Status on Discharge</label>
                                    <select class="form-control" id="txtStatusOnDischarge" name="txtStatusOnDischarge"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <hr />

                <div class="p-card">
                    <div class="p-card-header">
                        <ul class="nav nav-tabs list tab-menu">
                            <li><a id="details1-tab" href="#details1" data-toggle="tab" aria-controls="details1" aria-selected="true" class="active">Details 1</a></li>
                            <li><a id="details2-tab" href="#details2" data-toggle="tab" aria-controls="details2" aria-selected="false">Details 2</a></li>
                        </ul>
                    </div>
                    <div class="p-card-body">
                        <div class="tab-content">
                            <div class="tab-pane show active" role="tabpanel" id="details1" aria-labelledby="details1-tab">
                                <div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Final Diagnosis</label>
                                                <textarea class="form-control ta-2" id="taFinalDiagnosis1" name="taFinalDiagnosis1" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Obstetric Score</label>
                                                <textarea class="form-control ta-2" id="taObstetricScore1" name="taObstetricScore1" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label>Booked</label>
                                                <input type="text" class="form-control" id="txtBooked1" name="txtBooked1" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label>LMP</label>
                                                <input type="text" class="form-control" id="txtLMP1" name="txtLMP1" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label>EDD</label>
                                                <input type="text" class="form-control" id="txtEDD1" name="txtEDD1" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label>Gestational Age</label>
                                                <input type="text" class="form-control" id="txtGestationalAge1" name="txtGestationalAge1" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Antenatal Risk Factors</label>
                                                <textarea class="form-control ta-2" id="taAntenatalRiskFactors1" name="taAntenatalRiskFactors1" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Examination Findings</label>
                                                <textarea class="form-control ta-2" id="taExaminationFindings1" name="taExaminationFindings1" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Brief History</label>
                                                <textarea class="form-control ta-2" id="taBriefHistory1" name="taBriefHistory1" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Investigations</label>
                                                <textarea class="form-control ta-2" id="taInvestigations1" name="taInvestigations1" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="details2" aria-labelledby="details2-tab">
                                <div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Final Diagnosis</label>
                                                <textarea class="form-control ta-2" id="taFinalDiagnosis2" name="taFinalDiagnosis2" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Obstetric Score</label>
                                                <textarea class="form-control ta-2" id="taObstetricScore2" name="taObstetricScore2" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label>Booked</label>
                                                <input type="text" class="form-control" id="txtBooked2" name="txtBooked2" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label>LMP</label>
                                                <input type="text" class="form-control" id="txtLMP2" name="txtLMP2" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label>EDD</label>
                                                <input type="text" class="form-control" id="txtEDD2" name="txtEDD2" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label>Gestational Age</label>
                                                <input type="text" class="form-control" id="txtGestationalAge2" name="txtGestationalAge2" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Antenatal Risk Factors</label>
                                                <textarea class="form-control ta-2" id="taAntenatalRiskFactors2" name="taAntenatalRiskFactors2" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Examination Findings</label>
                                                <textarea class="form-control ta-2" id="taExaminationFindings2" name="taExaminationFindings2" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Brief History</label>
                                                <textarea class="form-control ta-2" id="taBriefHistory2" name="taBriefHistory2" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label>Investigations</label>
                                                <textarea class="form-control ta-2" id="taInvestigations2" name="taInvestigations2" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="button-block">
                            <button type="button" class="btn btn-default btn-sm">
                                New
                            </button>
                            <button type="button" class="btn btn-success btn-sm">
                                Save
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm">
                                Refresh [New]
                            </button>
                            <button type="button" class="btn btn-primary btn-sm">
                                Print
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>